@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Marcellus+SC&family=Noto+Serif&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  box-sizing: border-box;
}

.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_text{
  font-family: 'Marcellus SC', serif;
  font-size: 36px;
  color: #111;
  background: linear-gradient(to left, #e6b980, #eacda3);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.logo a:hover{
  color: #111 !important;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #111;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #111;
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
  font-family: 'Noto Serif', serif;
  background: linear-gradient(to left, #e6b980, #eacda3);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.navbar-menu a:hover{
  color: #778899 !important;
}

.sticky{
  background-color: #778899;
  padding: 18px 0;
}

.sticky .navbar-menu a{
  color: #111;
}

.sticky .menu-toggler span{
  background-color: #111;
}

#home{
  height: 100vh;
  min-height: 500px;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 100%;
  color: #fff;
}

#home .content h1{
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Libre Caslon Display', serif;
  color: #2F4F4F;
}


#home .content h1::after{
  content: "Художник";
  animation: textanim 10s linear infinite;
}

@keyframes textanim{
  25%{
    content: "Дизайнер";
  }
  50%{
    content: "Иллюстратор";
  }
}

.sm img{
  background: transparent;
  margin-top: 30px;
  margin-right: 3px;
  transition: .2s linear;
  width: 37px;
  height: 37px;
}

.sm a .inst{
  background: transparent;
  width: 35px;
  height: 35px;
}

.sm a .mail{
  background: transparent;
  margin-top: 4px;
  width: 39px;
  height: 39px;
}

.sm a:hover{
  color: #111;
}

#home .buttons{
  margin-top: 0;
}

#home .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #18394D  ;
  font-size: 17px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #18394D ;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
  background: linear-gradient(to left, #e6b980, #eacda3);
  color: #18394D  ;
}

@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
}

